.advantages{
    padding: 57px 0 51px 0;
    background-color: #f3f3f3;
    &__list{
        padding-top: 35px;
        display: grid;
        grid-template-columns: repeat(2, 520px);
        grid-template-rows: repeat(4, minmax(60px, auto));
        grid-auto-rows: minmax(60px, auto);
        column-gap: 62px;
        row-gap: 36px;
    }
    &__item{
        display: flex;
        gap: 15px;
    }
    &__text{
        font-size: 14px;
        font-weight: 400;
        line-height: 1.57;
        color: #3a3a3a;
        span{
            font-size: 16px;
            font-weight: 700;
            color: var(--main-color);
            padding-bottom: 10px;
        }
    }
}