.comments{
    padding: 61px 0 55px;
    &__caurosel{
        padding-top: 30px;
        position: relative;
        display: flex;
        justify-content: center;
    }
    &__item{
        width: 601px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text{
        padding-top: 18px;
        text-align: center;
    }
    &__name{
        font-size: 18px;
        font-weight: 700;
    }
    &__descr{
        font-size: 14px;
        font-weight: 300;
        line-height: 1.57;
        text-align: justify;
        text-align-last: center;
        color: #3a3a3a;
    }
    &__faded_1{
        position: absolute;
        left: -130px;
        top: 95px;
    }
    &__faded_2{
        position: absolute;
        right: -130px;
        top: 95px;
    }
    &__slick-left{
        position: absolute;
        left: 440px;
        top: 70px;
    }
    &__slick-right{
        position: absolute;
        right: 440px;
        top: 70px;
    }
}