.scheme{
    padding: 51px 0 46px;
    background-color: #f3f3f3;
    &__list{
        // padding-top: 33px;
        // display: grid;
        // grid-template-columns: repeat(auto-fill, 250px);
        // grid-template-rows: repeat(2, minmax(130px, auto));
        // grid-auto-rows: minmax(130px, auto);
        // gap: 40px;
        // justify-content: center;
        padding-top: 33px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 40px;
    }
    &__item{
        width: 250px;
        min-height: 130px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__text{
        text-align: center;
    }
    &__name{
        padding-top: 10px;
        font-size: 16px;
        font-weight: 700;
        color: var(--main-color)
    }
    &__descr{
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        color: #3a3a3a;
    }
}